

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  padding:0;
  margin:0;
}
  body {
    font-family: 'Poppins', sans-serif;
  }
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}
.main-content {
  

  padding-left:20px;
  padding-right:20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}